@page
@model PRN221_PawFundSystem_Group5.Pages.AdminModel
@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>

<div class="sidebar">
    <ul>
        <li><a asp-page="/UserPage/Index">User Page</a></li>
        <li><a asp-page="/EventPage/Index">Event Page</a></li>
    </ul>
</div>

